body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#game-header, #current-player-display, #winner-display, #x-score-container, #o-score-container, .box, #restart-btn {
    font-family: 'Nova Round', Arial;
    font-weight: bold;
}

#game-board-display, #restart-btn {
    border-radius: 10px;
}

#game-info-container, #restart-btn {
    font-size: 2rem;
}

#game-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#game-header {
    text-align: center;
    padding: 2rem 0;
    font-size: 5rem;
    color: #f6412d;
}

#game-info-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 600px;
    width: 400px;
    gap: 2rem;
}

.current-player-symbol {
    color: #ff9800;
}

#current-player-display {
    color: #f6412d;
}

#winner-display {
    font-size: 3rem;
    color: #f6412d;
}

#game-board-display {
    width: 600px;
    height: 600px;
    /* margin: 0 auto; */
    background-color: #292828;
    color: #fff;
    border: 6px solid rgb(121, 111, 111);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
    border: 6px solid rgb(121, 111, 111);
    border-radius: 2px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#x-score-container {
    color: #ffec19;
}

#o-score-container {
    color: #f98000;
}

#restart-btn {
    background-color: #f6412d;
    border: none;
    padding: 1rem 2rem;
}